# Node / Next
.next
node_modules
.turbo
.vercel
dist
build
out

# Testing
coverage

# Misc
.DS_Store
*.log
*.pem

# Env files
.env
.env*.local
.env.local
.env.development
.env.production
.env.test

# Editor
.idea
.vscode/

# OS
Thumbs.db
ehthumbs.db

# TS
*.tsbuildinfo
next-env.d.ts
